# App
ENVIRONMENT=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=capstone_development
# DB_DROP_TABLES=true
# DB_SEED_TABLES=true
# DB_INCLUDE_TESTING_SEEDS=true

# Access Token
ACCESS_TOKEN_SECRET_PRIVATE_KEY=secretkey

# Digital Ocean Spaces
DIGITAL_OCEAN_SPACES_BUCKET=algo
DIGITAL_OCEAN_SPACES_ACCESS_KEY=algo
DIGITAL_OCEAN_SPACES_SECRET_KEY=algo

# Gemini
GEMINI_API_KEY=
